
/* Inicio Body */
/* body
{
    background-color: white;
} */

/* Inicio Header */


/* 
.menu-container{
    background-color: #1a1a1a;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 10%;
    position: sticky;
    top: 0px;
    justify-content: space-around; 
} */

/* .navbar-brand{
    color: aliceblue;
    font-size: 20px;
    font-family: cgtimes;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
} */
/* .nav-link {
    color: aliceblue;
    font-size: 20px;
    font-family: cgtimes;
    align-items: center;
    justify-content: space-around;
}  */


/* .navbar-nav a{
    border-bottom: 2px solid #1a1a1a;
    transition: all 0.5s ease;
}

.nav-link:hover a{
border-color: #FBFCF9;
}  */




/* Fin Header */

/* Inicio Main */

/* Banner */

/* main{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    
}

.banner{
    width: 100%;
} */



/* IMG */

/* body img{
    width: 40%;
    display: flex;
    justify-content: center;
} */


/* Links */
/* a{
    text-decoration: none;
    color: black;
} */

/* Tipografias */
    /* h1{    
        font-family: cgtimes;
        font-size: 2rem;
        margin-top: 50px;
        margin-left: 30px;
}

    h4 {
        font-family: cgtimes;
        font-size: 20px;
}

p{
    font-family: nunito;
font-size: 15px;
} */

/* #acerca-de{
    display: flex;
    display: wrap;
    background-color: #1a1a1a;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;
    padding: 200px;
} */
/* 
#acerca-de p{
    color: #FBFCF9;
}

#acerca-de h1{
    color: #FBFCF9;
    text-align: left;
    margin: 0;
} */


/* Media Query Acerca de*/
/* @media only screen and (max-width: 500px){
    #acerca-de{
        padding: 80px 30px 80px 30px;
    }
}

@media only screen and (min-width:500px) and (max-width: 960px) {
    #acerca-de{
        padding: 120px 40px 120px 40px;
    }
    } */



/* Section Proyectos*/
/* .grid{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 1rem;
    margin: 10px;
    max-width: 1200px;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: top;
    flex: 1 1 clamp(300px, 30%, 400px);
    gap: 1rem;
    padding: 30px;
}

.proyecto_img{
    width: 80%
} */



#carouselExample img{
    width: 50%;
}


    


/* Inicio Footer */
/* footer h2{
    color:#FBFCF9 ;
}

footer p{

    color: #FBFCF9;
}

#footer ul{
    list-style: none;
}

#footer li a{
    color: #FBFCF9;
}


#footer {
    background-color: #1a1a1a;
    background-size: cover;
    padding: 30px;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/* Fin Footer */

/* Fin Body */
