/* Inicio Main */

/* Banner */
main{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    .banner{
        width: 100%;
    
}}

/* Section Acerca de */

#acerca-de{
    @include flex (column,null,flex-start,1rem,wrap);
    max-width: 1600px;
    background-color: $color-primary;
    padding: 150px;
    & h1{
        color: $color-secondary;
        text-align: left;
        margin: 0;
}}
#acerca-de p, h5,h6{
    color: $color-secondary;
}

#cv{
    @include flex (null, null, top ,10rem, null);
    flex: 1 1 clamp(300px, 30%, 400px);
    p, h5,h6 {
        font-size: 1rem;
    }
}

#linea{
    color: $color-secondary;
    width: 53rem;
}

/* Media Query Acerca de*/
@media only screen and (max-width: 500px){
    #acerca-de{
        padding: 80px 30px 80px 30px;
    }}


@media only screen and (min-width:500px) and (max-width: 960px) {
    #acerca-de{
        padding: 8rem 40px 80px 40px;

        #cv{
            @include flex (column, null, top ,2rem, null);
            flex: 1 1 clamp(300px, 30%, 400px);
            padding-left: 3rem;

    }}}



/* Section Proyectos */
.grid{
    @include flex (null, center, top, 1rem, wrap);
    margin: 10px;
    max-width: 1200px;
    .item{
        @include flex (column,null,top,1rem,null);
        flex: 1 1 clamp(300px, 30%, 400px);
        padding: 30px;
    .proyecto_img{
            width: 80%;
}}}

@media only screen and (max-width: 500px){
    .item{
        align-items: center;
}}