#smart{
    @include flex (column,center,center, 0.4rem, wrap);
}

#paisajes-page img,#paisajes-page .carousel-slide{
    width: 70%;
    height: 70%;
    display: flex;
    max-width: 1200px;
    position: relative;
    z-index: 50; 
}

#paisajes-page img, #carouselExampleIndicators2, #carouselExampleIndicators3,#carouselExampleIndicators4, #carouselExampleIndicators5 {
    width: 70%;
    margin: 0 auto;
}


#paisajes-page{
    background-color: #303335;
}

#paisajes-page h1,#paisajes-page p{
    color: $color-secondary;
    margin-left: 3rem;
}
#paisajes-page p{
    padding: 3rem;
}

#paisajes-page .img-grandes{
    width: 100%;
}



