/* Inicio Footer */

#footer{
    background-color: $color-primary;
    padding: 20rem;
    width: 100%;

    
    #contacto{
        @include flex (null, center, center ,null,null);
    }

    #contacto-item{
        @include flex (null, center, space-around, 10rem,wrap);  
        width: 100%;
        list-style: none;
    }
    li a{
        text-decoration: none;
        color: $color-secondary;
    }}


/* Fin Footer */

/* Media Query Footer*/

@media only screen and (min-width:500px) and (max-width: 960px) {
    #footer{
        padding: 20rem 10rem;
        width: 100%;
        #contacto-item{
            @include flex (column, center, center, 1rem, wrap);  
        }
    }}


    @media only screen and (max-width: 500px){
        #footer{
            padding: 30rem 0rem 15rem 0rem;
            width: 100%;
            #contacto{
                @include flex (null, center, center ,null,wrap);
            }
        
            #contacto-item{
                @include flex (null, center, center, 4rem,null);  
            }
        }}